name: build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Debug info
        run: |
          echo "::notice::Repository: $GITHUB_REPOSITORY"
      - name: Latest tag
        id: latest_tag
        run: |
          echo "::notice::Latest tag: $(git describe --tags --abbrev=0)"
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Tests
        run: npm test
