name: build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-tags: true
      - name: Debug info
        run: |
          echo "::notice::Repository: $GITHUB_REPOSITORY"
      - name: Latest tag
        id: latest_tag
        run: |
          echo "::notice::Latest tag: $(git describe --tags --always --abbrev=0)"
          echo "::notice::Latest tag: $(git describe --tags $(git rev-list --tags --max-count=1))"
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Tests
        run: npm test
