name: pipeline
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    uses: ./.github/workflows/build.yml

  deploy_to_dev:
    if: ${{ !failure() && !cancelled() && github.ref == 'refs/heads/main' }}
    environment: development
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Deploy
      run: echo "Deployed to dev"
  
  test_on_dev:
    if: ${{ !failure() && !cancelled() }}
    environment: development
    needs: [deploy_to_dev]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: package.json
    - name: Install dependencies
      run: npm ci
    - name: Tests
      run: npm test

  deploy_to_production:
    environment: production
    needs: [test_on_dev]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Deploy
      run: echo "Deployed to production"
